<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Home</title>
	<style type="text/css" rel="stylesheet">
	#img1{
		width: 50%;
		height: 300px;
		margin-right: 25%;
		margin-left:25% ;
	}	
	#top{

		width: 25%;
	margin-right: 40.5%;
		margin-left:40.5% ;
		font-size: xxx-large;	
	}
#form{
	margin-left: 40%;
	font-size: 25px;
}

	</style>
</head>
<body>
	<div id="top">Email Validator</div>
	<img id="img1" src="https://cdn.pixabay.com/photo/2016/06/13/17/30/mail-1454731_960_720.png">
<div id="form">
<form method="post">
	Email <input name="Email" type="email"><br>
	<input type="submit">
	
</form></div>

<div style="font-size:20px;margin-left:40%">{{data.msg}}</div>


</body>
</html>